{% extends 'base.html' %}
{% block title %}cart{% endblock %}
{% load static %}
{% block content %}

<section class="pt-10 bg-gray-50 min-h-screen">
  <div class="container mx-auto px-4">
    <div class="p-8 lg:p-10 bg-white shadow-sm border border-gray-200 rounded-md">
      <h2 class="mb-12 text-4xl font-bold font-heading">Your cart</h2>
      <div class="flex flex-wrap ">
        <div class="w-full xl:w-8/12 mb-8 xl:mb-0 px-2">

      <div class="inline-block w-full shadow rounded-lg bg-gray-100">
        <table class="w-full border-collapse ">
          <thead>
            <tr class="border-b-2 border-gray-200">
              <th class="px-2 sm:px-4 py-3    text-left text-xs font-semibold text-gray-600 uppercase ">
              </th>
              <th class="px-2 sm:px-4 py-3    text-left text-xs font-semibold text-gray-600 uppercase ">
                quantity
              </th>
              <th class="hidden md:table-cell px-2 sm:px-4 py-3   text-left text-xs font-semibold text-gray-600 uppercase ">
                price
              </th>
              <th class=" px-2 sm:px-4 py-3   text-left text-xs font-semibold text-gray-600 uppercase" >
                total
              </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-2 sm:px-4 py-5   bg-white text-sm">
                <div class="flex ">
                  <div class="flex-shrink-0 w-24 h-24 sm:w-32 sm:h-32">
                    <img class="w-full h-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80" alt="" />
                  </div>
                  <div class="flex flex-1 flex-col ml-3">
                    <p class="text-gray-900">
                      product1
                    </p>
                    <p class="text-gray-900">
                      blue
                    </p>
                    <small class="text-gray-900 flex flex-1 items-end">
                      In stock
                    </small>
                  </div>
                </div>
              </td>
              <td class="px-2 sm:px-4 py-5  bg-white text-sm">
                <div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md">
                  <button class="py-1 hover:text-gray-700">
                    <svg width="10" height="10" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="10" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
                  </button>
                  <input class="w-10 m-0 px-2 py-2 text-center md:text-right border-0 focus:ring-transparent focus:outline-none rounded-md" type="number" placeholder="1">
                  <button class="py-1 hover:text-gray-700">
                    <svg width="10" height="10" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
                  </button>
                </div>
              </td>
              <td class="hidden md:table-cell px-2 sm:px-4 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900">
                  $100
                </p>
              </td>
              <td class="px-2 sm:px-4 py-5   bg-white text-sm">
                <p class="text-gray-900">
                  $200
                </p>
              </td>
              <td class=" px-2 sm:px-4 py-5   bg-white text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current text-gray-500 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

          </div>

        <div class="w-full xl:w-4/12 px-2">
          <div class="p-6 md:p-12 bg-gray-50 border border-gray-200 rounded-md">
            <h2 class="mb-6 text-4xl font-semibold capitalize text-gray-900">Cart totals</h2>
            <div class="flex mb-8 items-center justify-between pb-5 border-b border-gray-300">
              <span class="text-gray-700">Subtotal</span>
              <span class="text-xl font-medium capitalize text-gray-900">$89.67</span>
            </div>
            <h4 class="mb-2 text-xl font-medium capitalize text-gray-900">Shipping</h4>
            <div class="flex mb-2 justify-between items-center">
              <span class="text-gray-700">Next day</span>
              <span class="text-xl font-medium capitalize text-gray-900">$11.00</span>
            </div>
            <div class="flex mb-10 justify-between items-center">
              <span class="text-gray-700">Shipping to United States</span>
              <span class="text-xl font-medium capitalize text-gray-900">-</span>
            </div>
            <div class="flex mb-10 justify-between items-center">
              <span class="text-xl font-medium capitalize text-gray-900">Order total</span>
              <span class="text-xl font-medium capitalize text-gray-900">$100.67</span>
            </div>
            <a class="block w-full py-3 bg-gray-900 hover:bg-gray-700 text-center text-white font-semibold capitalize uppercase rounded-md transition duration-200" href="#">Go to Checkout</a>
            <a class="block w-full py-3 mt-2 bg-white hover:bg-gray-100 border border-gray-900 text-center text-gray-900 font-semibold capitalize uppercase rounded-md transition duration-200" href="#">Continue Shopping</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}