{% extends 'base.html' %}
{% block title %} Products of | {% endblock%}
{% block content %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}


<section class="w-full max-w-3xl xl:max-w-4xl p-4 m-4 mb-32  container mx-auto ">
  <div class="py-6 px-6 lg:px-12 border rounded-md shadow-md border-gray-200  ">   
     <form method="POST" action="">
{% csrf_token %}
<h1 class="text-xl xl:text-2xl py-10 font-mono">Are you sure you want to delete <span class="capitalize">"{{ obj }}"</span> product ?</h1>
<p class="text-md xl:text-lg py-2 underline"><a href="{{ request.META.HTTP_REFERER }}">Go Back</a></p>

  <input type="submit" value="Confirm"
  class="w-full mt-3 text-sm font-bold py-3 rounded-md text-white bg-gray-900 hover:bg-gray-700 transition duration-200">
</form>
  </div>
</section>
  




{% endblock %}
