{% extends 'base.html' %}
{% block title %}
{{ product.name }}
{% endblock %}

{% load static %}

{% block content %}

<!-- <div class="w-full md:w-1/2 px-4 left-1/2 md:fixed  md:max-w-4xl md:pr-16 "> -->
<style>

.header-fixed {
  position: fixed;
  top: 200;
  width: 100%;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-relative {
  position: relative;
  bottom:500;
  width: 100%;
   -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
</style>

<section class="py-20 mx-4 xl:mx-32"  >
<div class="flex flex-wrap -mx-4 mb-8">
    <div class="w-full md:w-1/2  px-4 mb-8 md:mb-0">
        <img class="aspect-w-1 mb-10 border border-gray-300" src="{% if single_product.images %}{{ single_product.images.url }}{% else %}
        {% static "img/no_image.png" %}{% endif %}" alt="">
        <div class="thumb flex flex-wrap -mx-2">
        {% for i in product_gallery  %}
        <div class="p-2">
        <a  class="block border border-gray-300" href="{{i.image.url}}">
        <img  class="aspect-w-1 object-cover" src="{{ i.image.url}}" alt="Product Image">
        </a>
        </div>
        {% endfor %}     
        </div>
    </div>
    <div id="cart" class="w-full md:w-1/2 px-4 left-1/2 md:fixed  md:max-w-4xl md:pr-16 ">

        <div class="flex items-center w-full py-1 font-bold text-md text-black text-center tracking-wide mb-6">
        <a href="{% url 'home' %}" class="text-black">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
        </a>
        <span class="mx-4 text-gray-500 ">
        /
        </span>
        <a href="{% url 'store:product_list' %}" class="text-black  hover:underline">
          Back 
         </a>
     
        
        </div>
      
        <form method="POST" action="{% url 'carts:add_cart' single_product.id  %}">
        {% csrf_token %}
        <div  class="mb-10 pb-10 border-b">
        <p class="mb-8 text-gray-900 text-lg capitalize">{{ single_product.product_name }}</p>
        <p class="inline-block mb-8 text-2xl  text-gray-900">
        <span>€{{ single_product.price }}</span>
        <!-- <span class="font-normal text-base text-gray-400 line-through">discount</span> -->
        </p>
        <p class="max-w-md text-gray-500">
          {{ single_product.description|linebreaks|title }}
        </p>
        </div>
        {% if single_product.stock <= 0 %}
        <small class="font-medium text-red-500 px-2 w-full lg:w-2/5 mb-4 lg:mb-0 capitalize">out of stock</small>
        {% else %}
        <div class="my-4 flex flex-col 2xl:flex-row w-full space-y-4 2xl:space-y-0 2xl:space-x-2 mb-10 pb-10 ">
          <select class="w-full block py-4 bg-gray-100 hover:bg-gray-200 border border-gray-300 text-xs text-center text-black font-bold px-6 rounded-sm uppercase transition duration-200" name="hardware">
          <option value="" disabled selected>Choose Hardware</option>
          {% for i in single_product.variation_set.hardwares %}
          <option value="{{ i.variation_value }}">{{ i.variation_value }}</option>
          {% endfor %}
          </select>
          <select class="w-full block  py-4 bg-gray-100 hover:bg-gray-200 border border-gray-300 text-xs text-center text-black font-bold  px-8 rounded-sm uppercase transition duration-200" name="strap">
          <option value="" disabled selected>Choose Strap</option>
          {% for i in single_product.variation_set.straps %}
          <option value="{{ i.variation_value }}">{{ i.variation_value }}</option>
          {% endfor %}
          </select>
          <button type="submit" class="flex justify-center items-center w-full bg-gray-900 hover:bg-gray-800 text-center text-white font-bold  py-4 px-8 rounded-sm uppercase transition duration-200">
          <p class="px-2 text-xs">Add to cart</p>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          </button>
        </div>
        {% endif %}
        </form>
    </div>
</div>

 
</section>

<script>

$(window).scroll(() => { 
   var winWidth = $(window).width();
   if(winWidth >= 1024) {
// Distance from top of document to top of footer.
topOfFooter = $('#footer').position().top;
// Distance from top of document to top of cart.
topOfCart = $('#cart').position().top;

// Distance user has scrolled from top, adjusted to take in height of sidebar (570 pixels inc. padding).
scrollDistanceFromTopOfDoc = $(document).scrollTop() + 727;
// Difference between the two.
scrollDistanceFromTopOfFooter = scrollDistanceFromTopOfDoc - topOfFooter;

// If user has scrolled further than footer,
// pull sidebar up using a negative margin.
if (scrollDistanceFromTopOfDoc > topOfFooter) {
  $('#cart').css('margin-top', 0 - scrollDistanceFromTopOfFooter);
} else  {
  $('#cart').css('margin-top', 0);
}
}
});


</script>

{% endblock %}
