{% extends 'base.html' %}
{% block title %} Products of | {% endblock%}
{% block content %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

  

<section class="w-full max-w-5xl p-4 m-4 mb-32  container mx-auto ">
  <div class="py-6 px-6 lg:px-12 border rounded-md shadow-md border-gray-200  ">   
    <p class="text-2xl pt-1 pb-4 font-semibold">Update a product</p>
      <form method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
        <div class="flex justify-between flex-wrap mt-4 lg:mt-0 lg:flex-nowrap  lg:space-x-12">
          <div class="w-full lg:w-1/2 flex flex-col ">
            <ul>
            <li> {{  form.category|as_crispy_field  }}</li>
            <li> {{  form.title|as_crispy_field  }}</li>
            <li> {{  form.slug|as_crispy_field  }}</li>
            <li> {{  form.price|as_crispy_field }}</li>
            <li> {{  form.color|as_crispy_field }} </li>
            </ul>        
          </div>
          <div class="w-full lg:w-1/2 flex flex-col">
            <ul>
            <li> {{  form.description|as_crispy_field  }}</li>
            <li> {{  form.created_by|as_crispy_field }}</li>
            <li class="flex space-x-6"> {{  form.in_stock|as_crispy_field }} <span> {{ form.is_active|as_crispy_field }}</span></li>
            <li> {{  form.image|as_crispy_field }} </li>
            <ul>
          </div>
        </div>
        <input type="submit" value="Update" 
        class="w-full  mt-3 text-sm font-bold py-3 rounded-md text-white bg-gray-900 hover:bg-gray-700 transition duration-200">
      </form>
  </div>
</section>


{% endblock %}
