{% extends 'base.html' %}
{% block title %} Welcome to | {% endblock%}
{% block content %}
{% load static %}
{% load tailwind_filters %}


<!-- component -->
<section class="px-4 xl:px-32">
    <div class="">
        {% include 'includes/alert.html' %}
    </div>
<div class="flex flex-col md:flex-row h-full my-24 border rounded-md shadow-md border-gray-200">
  
{% include 'includes/dashboard_sidebar.html' %}
    <div class="w-full md:w-9/12">
        <div class="p-4 flex justify-between space-x-4 ">
                <div class="shadow rounded-md w-1/2 p-4 bg-gray-100 font-mono">
                    <p class="text-xl text-black text-center">
                    Total Orders
                    </p>
                    
                    <div class="flex flex-col justify-center items-center">
                    <p class="text-black text-4xl text-left font-bold my-4">
                    {{ orders_count }}
                    </p>
                    <a href="#" class="text-gray-800 font-medium underline  ">
                    View Orders
                    </a>
                    </div>
                </div>


                <div class="shadow rounded-md w-1/2 p-4 bg-gray-100 ">
                  
                    
                    <div class="flex flex-col justify-center items-center space-y-2 text-black font-mono">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
                        <p class="">{{ user.email }}</p>
                        <p class="">{{ user.phone_number }}</p>

                    </div>
                </div>
        </div>
    </div>

</div>

</section>


{% endblock %}
