
{% extends 'base.html' %}
{% block title %} Welcome to | {% endblock%}
{% block content %}
{% load static %}


<!-- about section -->
 
 

<section class="px-4 xl:px-32">   

<div class="grid grid-cols-2 gap-12 pt-20">

    <div class="col-span-2">
        <img class="object-cover w-full h-144" src='{% static "img/krisana.jpg" %}'/>
    </div>

    <div class="w-full mt-24">
    <img class="object-cover " src='{% static "img/aboutmain.jpg" %}'/>
    </div>
    <div class="w-full mt-24">
        <div class="tracking-wider leading-loose">
            <h1 class="text-6xl font-bold tracking-wider">About</h1>
            <p class="mt-4"> Aleph is the Phoenician letter that led to the first letter of the greek alphabet “Alpha”.<br>
                As a word it symbolizes the beginning of the creation as well as the starting point of human culture.<br>
                Our primary focus is on the creation of handmade bags and accesories, using several high quality eco friendly and materials with different textures.<br>
                Our philosophy is based on finding the roots of human creativity in products made purely by hand.<br>
                We are inspired by the past to create unique and timeless products. 
            </p>
        </div>
    </div>

    <div class="w-full mt-24">
        <div class="tracking-wider leading-loose">
            <h1 class="text-6xl font-bold tracking-wider">Materials</h1>
            <p class="mt-4">  
                The collection of fabrics is based on sustainability and durability.<br>
                Our leather bags are made from eco-friendly and/or recycled leather.<br>
                That way we can ensure the best results for our products and less damage for the environment.
            </p>
        </div>
    </div>
    <div class="w-full h-full mt-24">
        <img class="object-cover" src='{% static "img/aboutworkshop.jpg" %}'/>
    </div>

    <div class="w-full mt-24">
        <img class="object-cover " src='{% static "img/handmade.jpg" %}'/>
    </div>
    <div class="w-full mt-24">
        <div class="tracking-wider leading-loose">
            <h1 class="text-6xl font-bold tracking-wider">Handmade</h1>
            <p class="mt-4"> Our products are handmade and therefore, unique.<br>
                 That makes ALEF collection literally limited edition.<br>
                 Our bags are made exclusively in ALEF atelier that’s based in Athens.<br>
                 We make our bags with love and joy so you can have a unique product.
            </p>
        </div>
    </div>

</div>





</section>

{% endblock %}