{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>{% block title %} {% endblock %}Alef Handmade</title>
  <style>

  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
  input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }

    @font-face {
      font-family: "Roboto";
      font-style: normal;
      src: url('{% static "fonts/Roboto/Roboto-regular.ttf" %}');
      font-display: block;
    }
 @font-face {
      font-family: "Cabin";
      font-style: normal;
      src: url('{% static "fonts/Cabin/Cabin-regular.ttf" %}');
      font-display: block;
    }
    body {
      font-family: 'Cabin', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Roboto', sans-serif;

    }

    .mydiv {
          display: none;
    }

    .hero{
        height:800px;
    }
    .noscrollClass {
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          filter: grayscale(100%);
    }
  </style>

</head>

<body class="antialiased py-12 sm:py-40  bg-gray-50" id="scroll">
  <!-- Information Bar-->
  <!-- <div class="hidden lg:block w-full py-1 items-center bg-white  ">
    <p class="text-sm text-center text-black font-medium uppercase">
      Free delivery from 50 € and easy returns!
    </p>
  </div> -->
  <!-- Navbar -->
  <!--FIXME:SMALL SCREEN  -->

  <div class="w-full fixed inset-x-0 top-0 h-12  sm:h-40 flex justify-between lg:justify-center bg-black border-b-4 border-gray-100 shadow z-40 ">

      <!--  Two Levels Menu -->
      <div class="w-full flex flex-col    text-white ">
        <div class="hidden lg:flex w-full  justify-center items-center bg-gray-200 h-10">
          <p class="text-sm text-center text-black font-medium uppercase">
            Free delivery from 50 € and easy returns!
          </p>
        </div>
        <!-- three columns top horizontal menu on a grid -->
        <div class="w-full grid grid-cols-3  px-4 xl:px-32 h-20">


        <!-- <form class="hidden items-center lg:flex mt-4" method='GET' action="{% url 'store:search'%}">
        {% csrf_token %}
        <button type="submit" value="search" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
        </button>
        <input type="search" placeholder="Search by product" name="keyword" class="pl-1 text-sm bg-black placeholder-white border-b border-black transition duration-700  focus:border-gray-400 outline-none">
        </form> -->

        <form class="hidden w-full max-w-xsitems-center lg:flex mt-4" method='GET' action="{% url 'store:search'%}">
            {% csrf_token %}
      <div class="flex items-center border-b border-white py-2">

        <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 text-sm text-white py-1 px-2 rounded" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="white">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
        </button>
         <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none placeholder-gray-100 transition duration-700" name="keyword" type="text" placeholder="Search Bag" aria-label="search bag">

      </div>
    </form>


        <a aria-label="Alef Handmade" class="flex items-center lg:mx-auto" href="/" title="Alef Handmade">
        <h1 class="text-3xl lg:text-5xl  font-semibold text-center tracking-widest uppercase">
        alef
        </h1>
        </a>
        <div class="hidden items-center lg:flex justify-end">
        <a href="{% url 'carts:cart' %}" class="relative text-white mr-6" aria-label="Cart">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
        </svg>
        <span class="absolute bottom-5 ml-5">
          <div class="inline-flex justify-center  items-center w-5 h-5 p-0.5  rounded-full text-xs font-semibold leading-4 bg-white text-black">
            {{ cart_count }}
          </div>
        </span>
        </a>


        {% if user.id is not None %}
        <a href="{% url 'accounts:dashboard' %}" class="text-white mr-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path d="M2 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V4zM8 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H9a1 1 0 01-1-1V4zM15 3a1 1 0 00-1 1v12a1 1 0 001 1h2a1 1 0 001-1V4a1 1 0 00-1-1h-2z" />
        </svg>
        </a>
        <a href="{% url 'accounts:logout' %}" class="text-white mr-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd" />
        </svg>
        </a>
        <p class="text-md capitalize">Welcome <span class="font-bold">{{ user.first_name }}</span> </p>
        {% else %}
        <a href="{% url 'accounts:login' %}" class="text-white mr-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
        </a>
        <p class="text-md capitalize">Welcome<span class="font-bold"> Guest </span> </p>

        {% endif %}
        </div>
        </div>
        <!-- horizontal second menu -->
        <div class="hidden relative justify-center lg:flex w-full h-12 ">
        <nav class="inline-menu flex text-sm xl:text-md items-center">
        <!-- hidden dropdown  with javascript configuration -->
        <ul class="flex">
        <li>
          <a class="mx-7 3xl:mx-10 py-1 transition duration-200 ease-in-out border-b border-transparent hover:border-white uppercase" href="#">
            Bags
          </a>
          <div class="mega-menu absolute left-0 right-0 top-12 bg-black border-b border-white shadow-md ">
            <div class="grid grid-cols-4 lg:grid-cols-7 pl-4 lg:pl-32  ">
              <div class="cols-span-1 pt-6">
                <div class="flex flex-col space-y-2">
                  <a href="#" class="text-sm font-bold uppercase ">new arrivals</a>
                  <a href="#" class="text-sm font-bold uppercase ">winter 2021</a>
                  <a href="#" class="text-sm font-bold uppercase ">offers</a>
                  <a href="#" class="text-sm font-bold uppercase ">collection x</a>
                </div>
              </div>
              <div class="col-span-2 pt-6 w-24">
                <ul class="flex flex-col space-y-2 capitalize">
                  <li class="capitalize"><a href="{% url 'store:product_list' %}">all products</a>
                  </li>
                      {%  for category in links  %}
                          <li><a href="{{ category.get_url }}"> {{ category.category_name }} </a>
                          </li>
                      {% endfor %}
                </ul>
              </div>
              <div class="col-span-4">
                <div class="flex justify-end h-full">
                  <div>
                    <img id="srcImage1" src='{% static "img/bags.jpg" %}'>

                      <div class="mydiv " id="divzero">
                        <img src='{% static "img/bags.jpg" %}' alt="Manager" class="h-64 w-64 object-cover object-center" />
                      </div>
                      <div class="mydiv " id="divone">
                        <img src='{% static "img/leather.jpg" %}' alt="Manager" class="h-64 w-64 object-cover object-center" />
                      </div>
                      <div class="mydiv" id="divtwo">
                        <img src='{% static "img/pouches.jpg" %}' alt="HR" class="h-64 w-64 object-cover object-center" />
                      </div>
                      <div class="mydiv" id="divthree">
                        <img src='{% static "img/hobo.jpg" %}' alt="Developer" class="h-64 w-64 object-cover object-center" />
                      </div>
                      <div class="mydiv" id="divfore">
                        <img src='{% static "img/clutch.jpg" %}' alt="Designer" class="h-64 w-64 object-cover object-center" />
                      </div>
                      <div class="mydiv" id="divfive">
                        <img src='{% static "img/backpack.jpg" %}' alt="Designer" class="h-64 w-64 object-cover object-center" />
                      </div>

                  </div>
                </div>
        </li>

        <li>
          <a class="mx-7 3xl:mx-10 py-1 transition duration-150 ease-in-out border-b border-transparent hover:border-white  uppercase" href="#">
            About
          </a>
        </li>
        <li>
          <a class="mx-7 3xl:mx-10 py-1 transition duration-150 ease-in-out border-b border-transparent hover:border-white  uppercase" href="#">
            Materials
          </a>
        </li>
        <li>
          <a class="mx-7 3xl:mx-10 py-1 transition duration-150 ease-in-out border-b border-transparent hover:border-white  uppercase" href="{% url 'contact' %}">
            Contact
          </a>
        </li>
        </ul>
        </nav>
        </div>
      </div>
      <!-- right button for mobile-screens with flex -->
      <div class="lg:hidden flex items-center my-2 px-4 lg:px-8 z-50">
      <!--FIXME:FIX THE ONFOCUS  -->
      <button class="mobile-menu-button text-white" onclick="myFunc()">
        <svg class="h-8 w-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          </path>
        </svg>
      </button>
      </div>
  </div>
  <!-- Navbar ends -->
  <!-- Mobile responsive -->
  <div class="sidebar min-h-screen lg:hidden absolute transform -translate-x-full transition left-0 top-0 duration-300 ease-in-out w-64 rounded-tr-md bg-gradient-to-bl from-white to-gray-50 border-r border-gray-200 shadow-md z-50">
    <nav class="px-8">
      <div>
        <p class="text-gray-800 tracking-widest text-center text-md font-bold py-4 border-b pb-10 border-gray-300 mb-6">
          search area..
        </p>
        <p class="text-gray-400 tracking-wide text-xl font-medium ml-2 w-full">
          BAGS
        </p>
        <a class="text-gray-800 flex items-center p-2 my-2" href="#"><span class="text-sm">Eco Leather
            Bags</span>
        </a>
        <a class="text-gray-800 flex items-center p-2 my-2" href="#"><span class="text-sm">BackPacks</span>
        </a>
        <a class="text-gray-800 flex items-center p-2 my-2" href="#"><span class="text-sm">Pouches</span>
        </a>
        <a class="text-gray-800 flex items-center p-2 my-2" href="#"><span class="text-sm">CLUTCHES</span>
        </a>
        <a class="text-gray-800 flex items-center p-2 mt-2 mb-4" href="#"><span class="text-sm">Hobo Bags</span>
        </a>
      </div>
      <div>
        <p class="text-gray-400 font-medium tracking-wide text-md ml-2 w-full border-b pb-2 border-gray-300 mb-4">
          INFORMATIONS
        </p>
        <a class="text-gray-800 flex items-center p-2 my-2" href="#"><span class="text-sm font-normal">About</span></a> <a class="text-gray-800 flex items-center p-2 my-2" href="#"><span class="text-sm font-normal">Materials</span></a> <a
          class="text-gray-800 flex items-center p-2 my-2" href="#"><span class="text-sm font-normal">Contact</span></a>
      </div>
    </nav>
  </div>
  <!-- block content-->
  {% block content %}

  {% endblock %}
  <!-- end block content-->

  <!-- footer section-->

  <section class="px-4 xl:px-32 py-12 bg-black text-white border-t border-white">
    <div class="flex flex-wrap mb-12 lg:mb-20  text-center lg:text-left">
      <div class="w-full lg:w-1/4 px-3 mb-6 lg:mb-0">
        <a class="inline-block mx-auto lg:mx-0 text-3xl  leading-none" href="#">
          <p class="text-lg">Alef Handmade</p>
          <p class="mt-4 text-2xl font-medium">WE CREATE BAGS<br>
            TO CARRY OUR WORLDS...</p>
        </a>
      </div>
      <div class="w-full lg:w-1/4  lg:pl-24 mb-8 lg:mb-0">
        <p class="mb-2 lg:mb-4 lg:text-md font-semibold">Social</p>
        <p class="lg:text-md"> Instagram</p>
        <p class="lg:text-md"> Etsy</p>
      </div>
      <div class="w-full lg:w-1/4 px-3 mb-8 lg:mb-0">
        <p class="mb-2 lg:mb-4 lg:text-md font-semibold">Office</p>
        <p class="lg:text-md">Kolokotroni 9, Chalandri 152 33</p>
      </div>
      <div class="w-full lg:w-1/4 pr-3">
        <p class="mb-2 lg:mb-4 lg:text-md font-semibold">Contacts</p>
        <p class="lg:text-md">info@alefatelier.com</p>
        <p class="lg:text-md">+30 6980-256899</p>
      </div>

    </div>
    <div class="flex flex-col lg:flex-row items-center lg:justify-between border-t border-white">
      <p class="mt-6 text-xs">© 2020. All rights reserved.</p>
    </div>
  </section>
  <script>
    //toggle mega menu
    $('.mega-menu').hide();
    $(window).ready(function() {
      $("nav.inline-menu ul li").click(function() {
        $(this).siblings().find(".mega-menu").hide();
        $(this).find(".mega-menu").toggle();
      });

      // hide grid mega menu after click anywhere on the page
      $("html").click(function(event) {
        if ($(event.target).closest('nav.inline-menu ul li').length == 0) {
          $('.mega-menu').hide();
        }
      });
    });

    //restore main image on grid mega menu after click event anywhere on the page
    $("html").click(function(event) {
      if ($(event.target).closest('nav.inline-menu ul li').length > 0) {
        $("#srcImage1").show();
        $("#srcImage2").show();

        $("div.mydiv").hide();
      }
    });

    //change image on hover inside on grid mega menu
    $(document).ready(function() {
      $(".mymultiplediv").mouseover(function() {
        $("#srcImage1").hide();
        $("#srcImage2").hide();

        myvar = this.id;
        $("div.mydiv").hide();
        $("#div" + myvar).show();
      });
    });

    // grab everything we need
    const btn = document.querySelector(".mobile-menu-button");
    const menu = document.querySelector(".sidebar");
    // add event listeners
    //Toggle Nav //
    btn.addEventListener("click", () => {
      menu.classList.toggle("-translate-x-full");
    });

    //toggle noscroll
    function myFunc() {
      var para = document.getElementById("scroll");
      para.classList.toggle("noscrollClass");
    };
  </script>

</body>

</html>
