
{% extends 'base.html' %}
{% load static %}
{% block title %} Welcome to | {% endblock%}
{% block content %}

<!-- carousel -->
<link  rel="stylesheet"  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<style>

      .swiper {
        width: 100%;
        height: 100%;
      }


      @media only screen and (max-width:1023px) {
      .swiper-slide {
        text-align: center;
        font-size: 35px;
        background: #ffffff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }

    @media only screen and (min-width: 1024px) {
      .swiper-slide {
        text-align: center;
        font-size: 60px;
        background: #ffffff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }



      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .bullets{
        background-color: #000000;

      }

      .swiper-pagination-bullet-active {
     background-color: #000 !important;
}
</style>

<!-- Header -->
<section class="h-full">
    <!-- Slider main container -->
<div class="relative swiper mySwiper">

<div class="swiper-wrapper">
    {% for hero in heros  %}

    <div class="swiper-slide">
      <div class="flex flex-col absolute top-1/2 text-yellow-400 md:text-black text-left ml-4 xl:ml-32 z-50">
        <div class="font-bold ">
            <p class="shadow-md">{{ hero.hero_title|linebreaks }} </p>
        </div>
    {% if hero.hero_link %}
        <div class="font-bold text-sm md:text-lg mt-8 subpixel-antialiased">
            <a href="{{ hero.hero_href }}" aria-label="Buy product" class="w-32 px-4 py-3 bg-black hover:bg-gray-800 text-center text-white font-bold capitalize transition duration-200">
            Visit {{ hero.hero_link }}
        </a>
        </div>
    {% endif %}
    </div>
    <img class="object-right filter brightness-100"
    src='{{ hero.hero_image.url }}' alt="Hero image">
    </div>
    {% endfor %}
</div>
<div class="swiper-pagination"></div>
</div>
</section>

<!-- Category section -->
<section class="pt-4 xl:pt-5 3xl:pt-6">
<div class="mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 xl:gap-5 3xl:gap-6">
    {% for category in links  %}
    <a aria-label="View Item" href="{{ category.get_url }}">
        <div class="aspect-w-1 aspect-h-1">
            <img alt="category photo"
            class="object-center object-cover border border-gray-200"
            src="{{ category.cat_image.url }}"/>
            <p class="text-white flex justify-center items-center text-3xl lg:text-4xl xl:text-5xl uppercase absolute top-0 left-0 right-0 bottom-0 font-bold">
            {{ category.category_name }}
            </p>
        </div>
    </a>
    {% endfor %}
    </div>
</div>
</section>

<!-- Latest section -->
<section class="px-4 xl:px-32 py-16 lg:py-20 mt-6 bg-white">
    <div class="flex flex-col mb-6 lg:justify-center lg:flex-row md:mb-8">
        <div class="space-y-8">
            <h1 class="lg:text-3xl text-2xl text-black font-bold text-center tracking-widest uppercase">
                Our Latest
            </h1>
            <!-- <div class="flex justify-center max-w-lg mx-auto text-center py-2 uppercase space-x-12">
                <button
                class="text-black hover:border-black py-1 border-b border-transparent transition duration-200 tracking-widest">
                Latest
                </button>
                <button
                class="text-black hover:border-black py-1 border-b border-transparent transition duration-200 tracking-widest">
                Trending
                </button>
                <button
                class="text-black hover:border-black py-1 border-b border-transparent transition duration-200 tracking-widest">
                Discounts
                </button>
            </div> -->
        </div>
    </div>
    <div class="grid gap-6 row-gap-5 mb-8 lg:grid-cols-4 sm:row-gap-6 sm:grid-cols-2">
    {% if products %}
    {% for product in products %}
    <a href="{{ product.get_url }}" aria-label="View Item">
        <div class="relative overflow-hidden transition duration-200 hover:shadow-xl">
            <img class="aspect-w-1 border border-gray-200" src="{{ product.images.url }}" alt="product photo"/>
            <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-100 opacity-0 hover:opacity-100">
                <p class="mb-2 text-md xl:text-lg font-bold text-gray-100 ">{{ product.product_name|capfirst }}</p>
                <p class="mb-2 text-xs xl:text-sm font-bold tracking-wide text-white">
                    {{ product.short_desc|capfirst }}</p>
                <p class="text-sm font-bold tracking-wide text-white">€ {{ product.price }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
    {% endif %}
    </div>
    <div class="text-center mt-20">
        <a href="{% url 'store:product_list' %}" aria-label="" class="px-4 py-3  bg-black hover:bg-gray-800 border text-center text-white font-semibold capitalize transition duration-200">
        View gallery
        </a>
    </div>
</section>

<!-- Banner section -->
<section class="px-4 xl:px-32 py-16 " >
  <div class="relative border border-gray-300">
    <img alt="Banner image" class="h-96 sm:h-112 w-full object-cover"
         src='{% static "img/abouthero.jpg" %}'/>
    <div class="absolute inset-0 w-full py-2.5  text-white text-xs flex justify-center items-center">
      <p class="text-white flex justify-center items-center text-2xl lg:text-4xl xl:text-5xl uppercase absolute top-0 left-0 right-0 bottom-0 font-bold">
            <a href="{% url 'contact' %}" aria-label="" class="text-center">
        Visit our new store
        </a>
      </p>
    </div>
  </div>
</section>

 <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: {
          delay: 12000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          type: 'bullets',
          clickable: true,
        },

      });
    </script>
{% endblock %}
