
{% extends 'base.html' %}
{% load static %}
{% block title %} Welcome to | {% endblock%}
{% block content %}

<!-- carousel -->
<link  rel="stylesheet"  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<style>

.swiper {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 850px) {
.swiper-slide {
  text-align: left;
  background: #ffffff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: start;
  align-items: start;
}
}

@media only screen and (max-width: 850px) {
.swiper-slide p{
color:#000000;
font-size:25px;
font-weight: 900;
}
}



@media only screen and (min-width: 851px) {
.swiper-slide {
  text-align: center;
  background: #ffffff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
   align-items: center;
}
}

@media only screen and (min-width: 851px) {
.swiper-slide p{
  color:rgb(0, 0, 0);
  font-size:40px;
  font-weight: 900;
}
}


.swiper-slide img {
display: block;
width: 100%;
height: 100%;
}
.bullets{
background-color: #000000;
}

      .swiper-pagination-bullet-active {
     background-color: #000 !important;
}
</style>

<!-- Header -->
<section class="h-full mt-0">
    <!-- Slider main container -->
<div class="relative swiper mySwiper">

<div class="swiper-wrapper">
    {% for hero in heros  %}

    <div class="swiper-slide">
      <div class="absolute bottom-8  lg:bottom-14 lg:right-10 text-black text-left  px-4 xl:pl-32 z-50">
          <div class=" ">
              <p class="">{{ hero.hero_title }} </p>
          </div>
      {% if hero.hero_link %}
          <div class="font-bold text-sm md:text-lg mt-3 subpixel-antialiased">
              <a href="{{ hero.hero_href }}" aria-label="Buy product" class="w-40 px-6 py-2 bg-black hover:bg-gray-800 lg:text-center  text-white font-bold capitalize transition duration-200">
               {{ hero.hero_link }}
          </a>
          </div>
      {% endif %}
      </div>
      {% if hero.hero_position == 'left' %}
      <img class="object-cover object-{{ hero.hero_position}}"  src='{{ hero.hero_image.url }}' alt="Hero image">

    {% elif hero.hero_position == 'right' %}  
    <img class="object-cover object-{{ hero.hero_position}}"  src='{{ hero.hero_image.url }}' alt="Hero image">

    {% else %}  
    <img class="object-cover object-center"  src='{{ hero.hero_image.url }}' alt="Hero image">
    {% endif %}
  </div>
    {% endfor %}
</div>
<div class="swiper-pagination"></div>
</div>
</section>

<!-- Category section -->
<section class="pt-4 xl:pt-5 3xl:pt-6">
<div class="mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 xl:gap-5 3xl:gap-6">
    {% for category in links  %}
    <a aria-label="View Item" href="{{ category.get_url }}">
        <div class="aspect-w-1 aspect-h-1">
            <img alt="category photo"
            class="object-left md:object-center  border border-gray-200"
            src="{{ category.cat_image.url }}"/>
            <p class="text-white flex justify-center items-center text-3xl lg:text-4xl  uppercase absolute top-0 left-0 right-0 bottom-0 font-bold">
           {{ category.category_name }}
            </p>
        </div>
    </a>
    {% endfor %}
    </div>
</div>
</section>

<!-- Latest section -->
<section class="px-4 xl:px-32 py-16 lg:py-20 mt-6 bg-white">
    <div class="flex flex-col mb-6 lg:justify-center lg:flex-row md:mb-8">
        <div class="space-y-8">
            <h1 class="lg:text-3xl text-2xl text-black font-bold text-center tracking-widest uppercase">
                Our Latest
            </h1>
            <!-- <div class="flex justify-center max-w-lg mx-auto text-center py-2 uppercase space-x-12">
                <button
                class="text-black hover:border-black py-1 border-b border-transparent transition duration-200 tracking-widest">
                Latest
                </button>
                <button
                class="text-black hover:border-black py-1 border-b border-transparent transition duration-200 tracking-widest">
                Trending
                </button>
                <button
                class="text-black hover:border-black py-1 border-b border-transparent transition duration-200 tracking-widest">
                Discounts
                </button>
            </div> -->
        </div>
    </div>
    <div class="grid gap-6 row-gap-5 mb-8 lg:grid-cols-4 sm:row-gap-6 sm:grid-cols-2">
    {% if products %}
    {% for product in products %}
    <a href="{{ product.get_url }}" aria-label="View Item">
        <div class="relative overflow-hidden transition duration-200 hover:shadow-xl">
            <img class="aspect-w-1 border border-gray-200" src="{{ product.images.url }}" alt="product photo"/>
            <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-100 opacity-0 hover:opacity-100">
                <p class="mb-2 text-md xl:text-mlg font-bold text-gray-100 underline ">{{ product.product_name|capfirst }}</p>
                <p class="mb-2 text-sm xl:text-md   font-bold tracking-wide text-white">
                    {{ product.short_desc|capfirst }}</p>

                {% if product.discount_percentage %}
                <p class="text-sm  font-bold tracking-wide text-red-500">€ {{ product.get_sale }}<span class="line-through mx-2 text-white ">€ {{ product.price }}</span></p>
                {% else %}
                <p class="text-sm  font-bold tracking-wide text-white">€ {{ product.price }}</p>
                {% endif %}

            </div>
        </div>
    </a>
    {% endfor %}
    {% endif %}
    </div>
    <div class="text-center mt-20">
        <a href="{% url 'store:product_list' %}" aria-label="" class="px-4 py-3  bg-black hover:bg-gray-800 border text-center text-white font-semibold capitalize transition duration-200">
        View gallery
        </a>
    </div>
</section>


<!-- Anima Banner -->


<section class="py-16 " >

  <div class="relative">
    {% for b in anima  %}

    <img alt="Banner image" class="h-80 md:h-auto w-full object-cover"
         src='{{ b.banner_image.url }}'/>
    <div class="absolute tracking-wide flex flex-col justify-start top-20 left-0 text-white text-left text-xl md:text-4xl px-4 xl:pl-32 z-50">
      <a aria-label="Anima logo" class="pb-8 " href="https://www.wild-anima.gr/" title="Wild Anima">
      <img class="object-contain object-center w-40 lg:w-64" src='{% static "img/anima-logo.png" %}' alt="Anima logo">
      </a>
      <p class=" ">{{ b.banner_title|safe|linebreaks }} </p>
      {% if b.banner_link %}
      <div class="font-bold text-sm md:text-lg mt-6 subpixel-antialiased">
      <a href="{{ b.banner_href }}" aria-label="Buy product" class="text-center border-2 border-gray-100 px-4 py-2 ">
      {{ b.banner_link }}
      </a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

</section>



<!-- Banner section -->
<section class="px-4 xl:px-32 py-16 " >
  <div class="relative border border-gray-300">
    <img alt="Banner image" class="h-96 sm:h-112 w-full object-cover"
         src='{% static "img/abouthero.jpg" %}'/>
    <div class="absolute inset-0 w-full py-2.5  text-white text-xs flex justify-center items-center">
      <p class="text-white flex justify-center items-center text-2xl lg:text-3xl xl:text-4xl uppercase absolute top-0 left-0 right-0 bottom-0 font-bold ">
            <a href="{% url 'contact' %}" aria-label="" class="text-center border-2 border-gray-100 p-4 md:p-10">
        Visit our new store
        </a>
      </p>
    </div>
  </div>
</section>

 <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: {
          delay: 12000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          type: 'bullets',
          clickable: true,
        },

      });
    </script>
{% endblock %}
